body {
    font-family: 'Special Elite', cursive;
    background-color: aqua;
}
.header_div{
    background-color: white;
    color: steelblue;
}
.header_div p{
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position:fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    background-color: white;
    color: black;
    text-shadow: 5px 5px 5px gray;
}